<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    <httpCookies httpOnlyCookies="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/dashboard/error" redirectMode="ResponseRedirect" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules />
    <httpHandlers />
    <caching>
      <outputCache enableOutputCache="false" />
    </caching>
    <globalization culture="auto" uiCulture="auto" />
  </system.web>
</configuration>